html {
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #130f0d;
    color: white;
}

.kanban{
    display: flex;
    justify-content: space-between;
}

.board{
    background: #141316;
    border: 1px solid #FD951F11;
    border-radius: 4px;

    margin: 0 16px;
}

.board-title{
    font-weight: bold;
    font-size: 28px;
    padding: 16px;
    margin: 0;
    color: white;
}

.dropzone{
    padding: 16px;
    min-width: 300px;
    min-height: 200px;
}

.card{
    padding: 16px;
    box-shadow: 0 2px 2px -1px rgb(255, 255, 255);
    border-radius: 4px;
    width: 250px;
    margin: 25px 0; 
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
}

.add-button{
    min-width: 50px;
    min-height: 50px;
    background-color: #141316;
    color: white;
    font-size: 30px;
    font-weight: 400;
    border-radius: 50px;
    margin: auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.status{
    width: 30px;
    height: 8px;
    background: gray;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.green{
    background: rgb(21, 255, 0);
}


.status.blue{
    background: blue;
}


.status.red{
    background: red;
}

.card, .dropzone{
    transition: 0.4s;
}

.is-dragging{
    cursor: move;
    opacity: 0.3;
}

.highlight{
    background-color: #FD951f08;
}

.highlight-over{
    background-color: #4cd13711;
}

.content p{
    color: gray;
}